.login-form {
  display: flex;
  flex-direction: column;

  margin: 2rem;

  border: 2px solid black;
  border-radius: 15px;

  padding: 1.5rem;

  gap: 20px;

  justify-content: center;

  width: 50vw;

  div {
    width: 100%;
    display: flex;
    gap: 15px;

    label {
      width: 160px;
    }
  }

  &__array {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
}
